.container{
    height: 20vh;
    width: 30vw;
    background-color: antiquewhite;
}

.box{
    height: 20%;
    width: 20%;
    background-color: aqua;
    transition: all 3s ease-in-out 1s;
}

.translate{
    background-color: blue;
    transform: translateX(5vw) translateY(10vh);
}