.container{
    height: 500px;
    width: 800px;
    background-color: antiquewhite;
}

.box1{
    height: 18px;
    width: 100px;
    background-color: aqua;
    transition: all 3s ease-in-out 1s;
}

.translate1{
    background-color: blue;
    transform: translateX(5vw) translateY(10vh);
    scale: 2;
}

.box2{
    background-color: red;
    height: 50px;
    width: 60px;
    animation: Anim 3s ease-in-out 1s infinite,
                Anim2 3s ease-in-out 1s infinite;
}

@keyframes Anim {
    from{
        color: white;
    }
    to{
        background-color: yellowgreen;
        color: aqua;
    }
}

@keyframes Anim2 {
    0%{
        transform: rotate(10deg);
    }
    10%{
        transform: rotate(60deg);
    }
    20%{
        transform: rotate(120deg);
    }
    50%{
        transform: rotate(60deg);
    }
    80%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}